.seeds-page {
    padding: 20px;
    margin-top: 70px;
    margin-left: 325px; /* Adjust margin to ensure it doesn't overlap with the sidebar */
    background-color: #fff;
  }
  
  .seeds-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  