.shopping-cart {
  padding: 20px;
  margin-left: 50px;
  margin-top: 70px;
  background-color: #fff;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.cart-item-image {
  max-width: 80px;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-button {
  background-color: #026673;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.quantity-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.remove-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.order-button {
  background-color: #026673;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  display: block;
  margin: 20px 0;
  width: 100%;
}

.order-button:hover {
  background-color: #024e59;
}
