.sidebar {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  width: 250px;
  background-color: #f8f8f8;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  font-size: 18px;
  color: #333;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #026673;
  font-size: 16px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.spacer {
  height: 300px;
}