@font-face {
  font-family: 'Wellfleet';
  src: url('./fonts/Wellfleet-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.App {
  color: #333;
  height: 100vh;
}

.main-container {
  display: flex;
}

main {
  flex: 1;
  margin-top: 30px; 
  margin-left: 220px; 
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  padding: 10px;
  width: 200px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.product-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.hero {
  grid-column: span 1;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  max-height: 600px; 
  border-radius: 10px;
  object-fit: contain;
}

.first-two-products {
  margin-top: 40px;
  grid-column: span 2; 
  display: flex;
  gap: 20px; 
}

.remaining-products {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-card {
  box-sizing: border-box;
}
